@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');


/* this is a comment yo */

/* CSS Syntax 

selector {
	property: value;
	property: value2;
}

*/ 

/* Type selector */ 

p {
	font-size: 1em; /* px, pt (not same throughout broswers), 100% (relative), em (relative - width of letter m and equal to 16px so divide by 16) */
	line-height: 1.5em;
}

figcaption {
	/*font-weight: normal;
	font-size: 0.75em;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", serif;*/
	font: normal 0.75em/1.5em "Elsie Swash Caps", cursive; /* 1st font thing is font size, second is line height */
	color: #777;
	text-align: right;
}

/* Class selector */

.milk-text {
	font: bold 2.6em 'Elsie Swash Caps', cursive;
	color: white;
	text-shadow: 0 2px 3px #000;
}

/* ID selector */

#logo {
	background: aqua;
}

/* descendent selector */

#logo h1 { /* selects h1 if they're inside logo ID */
	font-family: 'Clicker Script', cursive;
}

#logo h2 {
	font-family: "Elsie Swash Caps";
}

/* pseudo class selector */

#details a:link, #details a:visited {
	color: black;
	text-decoration: none;
}

#details a:hover {
	color: black;
	text-decoration: underline;
}

#details a:active {
	color: red;
}